<div class="row col-lg-12">
    <mat-card id="price" style="background-color: #c59f77; margin:30px ;position: relative; opacity: 0.95;"
        class="font col-lg-6">
        <div class="content">

            <h1>Áraink</h1>
        </div>
        <h3>
            <mat-icon>attach_money</mat-icon>
            Áraink személyre szabottak. Keresse ügyfélszolgálatunkat.

        </h3>
        <h3><br>
            <i>Mik az árakat befolyásoló tényezők?</i>
        </h3>
        <h4>
            <ul>
                <li>Céghálózat mérete</li>
                <li>Raktár kapacitás mérete</li>
                <li>Tárolni kívánt alkalmazottak száma (hozzáféréssel)</li>
            </ul>
        </h4>
    </mat-card>
    <mat-card id="ajanlat" style="background-color: #c59f77; margin:30px ;position: relative; opacity: 0.95"
        class="font col-lg-5">
        <div class="content">

            <h1>Kapcsolat</h1>
        </div>
        <h3>
            Kérjen ajánlatot munkatársainktól. Vegye fel a kapcsolatot velünk az alábbi elérhetőségeken:
        </h3>

        <h4>
            <ul>
                <li>Email: info@dinerboss.hu</li>
                <li>Telefonszám: +36 70/355-2343</li>
            </ul>
        </h4>
    </mat-card>
</div>