<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Football Api</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()">
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Bajnokság</span>
                <mat-icon mat-list-icon>sports_soccer</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                <a mat-list-item href="...">Premier League</a>
                <a mat-list-item href="...">La Liga</a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">

        <mat-tab-group>

            <mat-tab label="Összesített">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef> Csapat </th>
                        <td mat-cell *matCellDef="let element"> {{element.team}} </td>
                    </ng-container>

                    <ng-container matColumnDef="playedgames">
                        <th mat-header-cell *matHeaderCellDef> LM </th>
                        <td mat-cell *matCellDef="let element"> {{element.playedgames}} </td>
                    </ng-container>

                    <ng-container matColumnDef="win">
                        <th mat-header-cell *matHeaderCellDef> GY </th>
                        <td mat-cell *matCellDef="let element"> {{element.win}} </td>
                    </ng-container>

                    <ng-container matColumnDef="draw">
                        <th mat-header-cell *matHeaderCellDef> D </th>
                        <td mat-cell *matCellDef="let element"> {{element.draw}} </td>
                    </ng-container>

                    <ng-container matColumnDef="defeat">
                        <th mat-header-cell *matHeaderCellDef> V </th>
                        <td mat-cell *matCellDef="let element"> {{element.defeat}} </td>
                    </ng-container>

                    <ng-container matColumnDef="goalratio">
                        <th mat-header-cell *matHeaderCellDef> G </th>
                        <td mat-cell *matCellDef="let element"> {{element.goalratio}} </td>
                    </ng-container>

                    <ng-container matColumnDef="point">
                        <th mat-header-cell *matHeaderCellDef> P </th>
                        <td mat-cell *matCellDef="let element"> {{element.point}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </mat-tab>
            <mat-tab label="Hazai"> Content 2 </mat-tab>
            <mat-tab label="Vendég"> Content 3 </mat-tab>
        </mat-tab-group>

    </div>

</mat-sidenav-container>