<mat-toolbar fxLayout="row" class="navbar">
    <img style="width: 160px; height: 250%;" src="assets/logo1.png">



    <span fxFlex></span>

    <button mat-button fxHide.xs>
        <mat-icon class="mr">login</mat-icon>
        Bejelentkezés
    </button>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <button mat-menu-item>
            <mat-icon class="mr">help</mat-icon>
            <a href="#about">Bemutatkozás</a>
        </button>
        <button mat-menu-item>
            <mat-icon class="mr">miscellaneous_services</mat-icon>
            <a href="#szolg">Szolgáltatások</a>

        </button>
        <button mat-menu-item>
            <mat-icon class="mr">attach_money</mat-icon>
            <a href="#price">Áraink</a>

        </button>
        <button mat-menu-item>
            <mat-icon class="mr">phone</mat-icon>
            <a href="#ajanlat">Ajánlatkérés</a>

        </button>
        <button mat-menu-item>
            <mat-icon class="mr">login</mat-icon>
            Bejelentkezés
        </button>
        <mat-divider></mat-divider>
    </mat-menu>
</mat-toolbar>
<div class="row col-lg-12">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
        <mat-card style="background-color: #c59f77;opacity: 0.95;   margin-top:100px"
            class="font mat-elevation-z8 content ">
            <h1>Szuperadmin bejelentkezés</h1>
            <img style="width: 70%;" src="assets/logoBig.png">
            <h3>Bejelentkezés kizárólag a cég munkatársai számára!</h3>
            <mat-card style="background-color: #ddcebe;" class=" content margin-left-10">
                <form class="margin-top-50" [formGroup]="loginForm">
                    <mat-form-field class="width-100">
                        <mat-label>E-mail cím</mat-label>
                        <input name="email" formControlName="email" matInput placeholder="E-mail">
                        <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                            Mező kitöltése kötelező
                        </mat-error>
                    </mat-form-field>
                    <div class="col-lg-12"></div>
                    <mat-form-field class="width-100">
                        <mat-label>Jelszó</mat-label>
                        <input name="password" formControlName="password" matInput type="password" placeholder="Jelszó">
                        <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                            Mező kitöltése kötelező
                        </mat-error>
                    </mat-form-field>

                </form>
                <div class="padding-5">
                    <button class="width-100" mat-raised-button color="accent" (click)="doLogin()">
                        <mat-label color="primary" [translate]="'action.login'">Belépés</mat-label>
                    </button>
                </div>
            </mat-card>


        </mat-card>
    </div>
</div>

<div class="footer">
    DinerBoss 2020
    <small>
        <small>
            <mat-icon>copyright</mat-icon>
        </small>
    </small>

</div>