.layout-tittle-container {
    padding-bottom: 0px;
}

.info-mat-card {
    width: 48%;
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    margin-left: 15px;
    margin-bottom: 10px;
}
.infocard-detail {
    float: left;
}

.assigned-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.license-info-card-text {
    font-size: larger;
    display: flex;
}

.card-row {
    border-top: 0.5px solid lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: larger;
}

.details-info-name {
    font-weight: 500;
}
