<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        {{company?.name}} Cég kezelése
    </h1>
</mat-toolbar>
<mat-card class="info-mat-card col-lg-6" style="margin-top: 10px;">
    <mat-card-title class="primary-color">Cég adatok</mat-card-title>
    <mat-card-content *ngIf="company" class="width-100">
        <div class="row card-row">
            <div class="col-lg-6">
                <span class="details-info-name base-color">
                    Cég neve</span>
            </div>
            <div class="col-lg-6">
                <span *ngIf="company.name">{{company?.name}}</span>
            </div>
        </div>
        <div class="row card-row">
            <div class="col-lg-6">
                <span class="details-info-name base-color">
                    Alapítás dátuma</span>
            </div>
            <div class="col-lg-6">
                <span *ngIf="company.founded">{{localizeDate(company?.founded)}}</span>
                <span *ngIf="!company.founded">-</span>

            </div>
        </div>
        <div class="row card-row">
            <div class="col-lg-6">
                <span class="details-info-name base-color">
                    Cég bejegyzett címe</span>
            </div>
            <div class="col-lg-6">
                <span *ngIf="company.address">{{company?.address}}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-tab-group class="mat-elevation-z2">
    <mat-tab label="Hozzárendelt üzletek">
        <app-superadmin-stores></app-superadmin-stores>
    </mat-tab>

    <mat-tab label="Tulajdonosok">
        <div class="margin-left-10">
            <h3> Tulajdonos hozzárendelés, visszavonás
            </h3>
            Hozzárendeléshez, visszavonáshoz húzza a kiválasztott személyt a megfelelő oszlopba.
            <br>
            Véglegesítéshez kattintson a Mentés gombra.
            <hr>
        </div>

        <form [formGroup]="ownerForm">
            <div class="col-lg-12">
                <app-base-picklist [selectedItems]="selectedCustomerList" [availableItems]="availableCustomerList"
                    (changedItemsEvent)="ownerChanged($event)">
                </app-base-picklist>
            </div>
            <button style="margin-left: 500px; margin-top: -20px;" color="accent" mat-raised-button
                [disabled]="ownerForm.invalid" (click)="onSaveOwners()">
                <mat-label>Mentés</mat-label>
            </button>
        </form>

    </mat-tab>
    <mat-tab label="Cég adatok szerkesztése">
        <form [formGroup]="companyForm" class="create-container">
            <ng-template matStepLabel>
                <mat-label>
                    Cég adatok
                </mat-label>
            </ng-template>
            <div class="input-container">
                <mat-form-field style="pointer-events: none;" floatLabel="auto" class="input-element">
                    <mat-label>Név
                    </mat-label>
                    <input matInput name="name" formControlName="name" placeholder="Név">
                    <mat-error
                        *ngIf="companyForm.controls.name.invalid && !companyForm.controls.name.hasError('pattern') ">
                        A mező kitöltése kötelező.
                    </mat-error>
                    <mat-error
                        *ngIf="companyForm.controls.name.hasError('pattern') && !companyForm.controls.name.hasError('required') ">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <div class="col-lg-12"></div>
                <mat-form-field appearance="fill">
                    <mat-label>Alapítás dátuma</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="founded">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="companyForm.controls.founded.invalid && !companyForm.controls.founded.hasError('pattern')">
                        A mező kitöltése kötelező.
                    </mat-error>
                </mat-form-field>
                <div class="col-lg-12"></div>
                <mat-form-field floatLabel="auto" class="input-element">
                    <mat-label>Elhelyezkedés
                    </mat-label>
                    <input matInput name="name" formControlName="address" placeholder="Név">
                    <mat-error
                        *ngIf="companyForm.controls.address.invalid && !companyForm.controls.address.hasError('pattern') ">
                        A mező kitöltése kötelező.
                    </mat-error>
                </mat-form-field>
                <div class="stepper-buttons-content">
                    <button mat-raised-button [disabled]="companyForm.invalid" (click)="onSave()">
                        <mat-label>Mentés</mat-label>
                    </button>
                </div>
            </div>
        </form>
    </mat-tab>

</mat-tab-group>