<mat-toolbar color="primary" class="mat-elevation-z8">

    <h1 style="color: white;">
        Kasszák kezelése
    </h1>
</mat-toolbar>
<mat-toolbar style="background-color: #f5f5f5;" class="margin-top-10">
    <div class="table-toolbar width-100">
        <button *ngIf="isOwner()" mat-raised-button (click)="onCreate()">
            <mat-icon>add</mat-icon>
            <mat-label>Új</mat-label>
        </button>

        <button mat-raised-button (click)="loadDataSource()">
            <mat-icon>refresh</mat-icon>
            <mat-label>Frissítés</mat-label>
        </button>
        <span class="fill-remaining-space"></span>

    </div>
</mat-toolbar>
<mat-form-field floatLabel="never" class="width-40 col-lg-3">
    <mat-icon color="primary" class="margin-right-5" matPrefix>search</mat-icon>
    <input [placeholder]="'Név'" matInput [formControl]="searchValueForm">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Checkbox Column default -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="hasValue() && isAllSelected()"
                [indeterminate]="hasValue() && !isAllSelected()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? onToggleSelect(row) : null"
                [checked]="isSelected(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Custom columns -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
            <mat-label>ID</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{element.id}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-label [translate]="'label.name'">Név</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{element.name}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.name'">Komment</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{element.comment}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="money">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.name'">Összeg</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label [ngClass]="{ 'blur': !blur,
            'normal': blur}">{{element.money}} Ft</mat-label>
            <mat-icon *ngIf="blur" (click)="changeBlur()">cancel</mat-icon>
            <mat-icon *ngIf="!blur" (click)="changeBlur()">remove_red_eye</mat-icon>

            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="store">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.name'">Üzlet</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{element.store.name}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.actions'">Műveletek</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button *ngIf="isOwner()" mat-icon-button matTooltip="Módosítás" matTooltipPosition="above"
                (click)="onEdit(row)">
                <mat-icon color="accent">edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Tranzakció" matTooltipPosition="above" (click)="onTransaction(row)">
                <mat-icon color="accent">request_quote</mat-icon>
            </button>
            <button *ngIf="isOwner()" mat-icon-button matTooltip="Előzmények" matTooltipPosition="above"
                (click)="onHistory(row)">
                <mat-icon color="accent">history_edu</mat-icon>
            </button>
            <button *ngIf="isOwner()" mat-icon-button matTooltip="Törlés" matTooltipPosition="above"
                (click)="onDelete(row)">
                <mat-icon color="warn">delete</mat-icon>
            </button>

        </mat-cell>
    </ng-container>

    <!-- column names default -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)" [ngClass]="{ 'selected': isSelected(row),
                  'selected-hover': !isSelected(row)}">
    </mat-row>
</mat-table>
<!-- table paginator default -->
<mat-paginator [length]="dataSource.totalCount" showFirstLastButtons>
</mat-paginator>