<mat-toolbar color="primary" class="mat-elevation-z8">

    <h1 style="color: white;">
        Alapanyagok, eszközök kezelése
    </h1>
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="Alapanyagok">
        <app-list-commodities></app-list-commodities>
    </mat-tab>
    <mat-tab label="Eszközök">
        <app-list-tools></app-list-tools>

    </mat-tab>
</mat-tab-group>