<mat-toolbar fxLayout="row" class="navbar mat-elevation-z8">
    <img style="width: 160px; height: 250%;" src="assets/logo1.png">
    <!-- <button mat-icon-button (click)="snav.toggle()"> -->
    <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
    </button>

    <!--  <button mat-button fxHide.xs>
        <mat-icon class="mr">help</mat-icon>
        <a href="#about">Bemutatkozás</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">miscellaneous_services</mat-icon>
        <a href="#szolg">Szolgáltatások</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">attach_money</mat-icon>
        <a href="#price">Áraink</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">phone</mat-icon>
        <a href="#ajanlat">Ajánlatkérés</a>
    </button> -->
    <span fxFlex></span>

    <button mat-button fxHide.xs style="font-size: large;">

        {{userName}}
    </button>


</mat-toolbar>
<mat-drawer-container>

    <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
        [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}" style="background-color: #894e00;">
        <div class="sidenav-header">
            <span>{{collapsedNav && !mobileQuery.matches ? 'S' : 'SideNav'}}</span>
        </div>

        <ul>
            <li (click)="openCompanies()" *ngIf="isOwner()">
                <mat-icon matTooltip="Cégek" [matTooltipPosition]="'right'">account_balance</mat-icon>
            </li>
            <li (click)="openStores()">
                <mat-icon matTooltip="Üzletek" [matTooltipPosition]="'right'">storefront</mat-icon>
            </li>
            <li (click)="openCustomers()" *ngIf="isOwner()">
                <mat-icon matTooltip="Ügyfelek" [matTooltipPosition]="'right'">people</mat-icon>
            </li>
            <li (click)="openCommodities()">
                <mat-icon matTooltip="Alapanyagok/Eszközök" [matTooltipPosition]="'right'">fastfood</mat-icon>
            </li>
            <li (click)="openStorage()">
                <mat-icon matTooltip="Raktárak" [matTooltipPosition]="'right'">food_bank</mat-icon>
            </li>
            <li (click)="openCheckout()">
                <mat-icon matTooltip="Kasszák" [matTooltipPosition]="'right'">attach_money</mat-icon>
            </li>
            <li (click)="openReport()" *ngIf="isOwner()">
                <mat-icon matTooltip="Jelentések" [matTooltipPosition]="'right'">list_alt</mat-icon>
            </li>
            <li (click)="openStatistics()" *ngIf="isOwner()">
                <mat-icon matTooltip="Statisztikák" [matTooltipPosition]="'right'">insert_chart_outlined</mat-icon>
            </li>
            <li (click)="doDestroy()">
                <div class="row">
                    <mat-icon matTooltip="Kijelentkezés" [matTooltipPosition]="'right'">exit_to_app</mat-icon>
                </div>

            </li>
        </ul>

    </mat-drawer>
    <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}" class="margin-top-80">

        <mat-card>

            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>

        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>