<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="team-card">
        <mat-card-header>
          <div mat-card-avatar class="home-header-image"></div>
          <mat-card-title>Manchester United</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="team-card">
        <mat-card-header>
          <mat-card-title>1-1</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="team-card">
        <mat-card-header>
          <div mat-card-avatar class="away-header-image"></div>
          <mat-card-title>Tottenham Hotspur</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="grid-container">
  <mat-grid-list cols="3">
    <mat-grid-tile [colspan]="3" [rowspan]="1">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="hometeam">
          <th mat-header-cell *matHeaderCellDef> Hazai csapat </th>
          <td mat-cell *matCellDef="let element"> {{element.hometeam}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="awayteam">
          <th mat-header-cell *matHeaderCellDef> Vendég csapat </th>
          <td mat-cell *matCellDef="let element"> {{element.awayteam}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-grid-tile>
  </mat-grid-list>
</div>