.team-card {
  max-width: 400px;
}
  
.home-header-image {
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQdidTvjgPdvdjwtelmSx8kkV6mhHETmS18aQKb7f6vqEgIYKrf');
  background-size: cover;
}

.away-header-image {
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS-SxNZma7VEnAhz0HiRRmYvNzdTrLKwXT_8L4rGUIol6okpeES');
  background-size: cover;
}

grid-container {
  height: 60%;
  width: 70%;;
}

mat-grid-tile {
  background: lightblue;
}

table {
  width: 80%;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
text-align: center;
justify-content:center;
}

.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

table {
    width: 100%;
}

.mat-tab-group {
  width: 80%;
}
