<h2 mat-dialog-title class="mat-display-2 text-center primary-color" style="text-align: center;">Alapanyag raktár
    történet
</h2>
<mat-dialog-content class="text-center">

    <mat-table [dataSource]="dataSource.data" matSort class="mat-elevation-z8">
        <!-- Checkbox Column default -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="hasValue() && isAllSelected()"
                    [indeterminate]="hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? onToggleSelect(row) : null"
                    [checked]="isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <!-- Custom columns -->
        <!--  <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>
                <mat-label>ID</mat-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-label>{{element.id}}</mat-label>
                <span class="margin-left-5"></span>
            </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-label [translate]="'label.name'">Dátum</mat-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-label>{{localizeDate(element.date)}}</mat-label>
                <span class="margin-left-5"></span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <mat-label [translate]="'label.name'">Alapanyag neve</mat-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-label>{{element.commodity? element.commodity.name : 'Törölt alapanyag'}}</mat-label>
                <span class="margin-left-5"></span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="invalue">
            <mat-header-cell *matHeaderCellDef>
                <mat-label [translate]="'label.name'">Művelet</mat-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.invalue" color="accent">add_circle_outline</mat-icon>
                <mat-icon *ngIf="!element.invalue" color="warn">remove_circle_outline</mat-icon>
                <mat-label *ngIf="element.invalue">Berakodás</mat-label>
                <mat-label *ngIf="!element.invalue">Kirakodás</mat-label>
                <span class="margin-left-5"></span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>
                <mat-label [translate]="'label.name'">Mennyiség</mat-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-label>{{element.quantity}} darab</mat-label>
                <span class="margin-left-5"></span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="who">
            <mat-header-cell *matHeaderCellDef>
                <mat-label [translate]="'label.name'">Felhasználó</mat-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-label>{{element.customer.firstName}} {{element.customer.lastName}}</mat-label>
                <span class="margin-left-5"></span>
            </mat-cell>
        </ng-container>

        <!-- column names default -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)" [ngClass]="{ 'selected': isSelected(row),
                      'selected-hover': !isSelected(row)}">
        </mat-row>
    </mat-table>
    <!-- table paginator default -->
    <mat-paginator [length]="dataSource.totalCount" showFirstLastButtons>
    </mat-paginator>
</mat-dialog-content>
<mat-dialog-actions style="text-align: center;">
    <div class="dialog-buttons">
        <button mat-raised-button class="button-upper-case" color="accent" [mat-dialog-close]="true">
            <mat-label>OK</mat-label>
        </button>
    </div>
</mat-dialog-actions>