<h2 mat-dialog-title class="mat-display-2 text-center primary-color"> </h2>
<mat-dialog-content class="text-center">
    <app-base-picklist [selectedItems]="selectedCustomerList" [availableItems]="availableCustomerList"
        (changedItemsEvent)="customerChanged($event)">
    </app-base-picklist>
</mat-dialog-content>
<hr>
<mat-dialog-actions style="text-align: center;">
    <div class="dialog-buttons">
        <button mat-raised-button class="button-upper-case" [mat-dialog-close]="false">
            <mat-label>Mégsem</mat-label>
        </button>
        <button mat-raised-button class="button-upper-case" color="accent" (click)="saveUsers()"
            [mat-dialog-close]="true">
            <mat-label>Mentés</mat-label>
        </button>
    </div>
</mat-dialog-actions>