<mat-toolbar color="primary" class="mat-elevation-z8">
    <h1 style="color: white;">
        Jelentések megtekintése
    </h1>
</mat-toolbar>
<mat-toolbar style="background-color: #f5f5f5;" class="margin-top-10">
    <div class="table-toolbar width-100">
        <button mat-raised-button (click)="loadDataSource()">
            <mat-icon>refresh</mat-icon>
            <mat-label>Frissítés</mat-label>
        </button>
        <span class="fill-remaining-space"></span>
    </div>
</mat-toolbar>
<mat-form-field floatLabel="never" class="width-40 col-lg-3">
    <mat-icon color="primary" class="margin-right-5" matPrefix>search</mat-icon>
    <input [placeholder]="'Keresés'" matInput [formControl]="searchValueForm">

</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Üzlet</mat-label>
    <input type="text" placeholder="Válasszon egy üzletet." matInput [formControl]="storeForm" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
        <mat-option *ngFor="let option of stores" [value]="option">
            {{option.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Checkbox Column default -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="hasValue() && isAllSelected()"
                [indeterminate]="hasValue() && !isAllSelected()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? onToggleSelect(row) : null"
                [checked]="isSelected(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Custom columns -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
            <mat-label>ID</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{element.id}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-label [translate]="'label.name'">Dátum</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{localizeDate(element.date)}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="income">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.name'">Bevétel</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label style="color: green;">{{element.income}} Ft</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="expense">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.name'">Kiadás</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label style="color: red;"> - {{element.expense}} Ft</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.name'">Megjegyzés</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{element.comment? element.comment : '-'}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.name'">Alkalmazott</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{element.customer.firstName}} {{element.customer.lastName}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="store">
        <mat-header-cell *matHeaderCellDef>
            <mat-label [translate]="'label.name'">Üzlet neve</mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-label>{{element.store.name}}</mat-label>
            <span class="margin-left-5"></span>
        </mat-cell>
    </ng-container>


    <!-- column names default -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)" [ngClass]="{ 'selected': isSelected(row),
                  'selected-hover': !isSelected(row)}">
    </mat-row>
</mat-table>
<!-- table paginator default -->
<mat-paginator [length]="dataSource.totalCount" showFirstLastButtons>
</mat-paginator>