<div class="grid-container">
    <mat-grid-list cols="3" >
        <mat-grid-tile [colspan]="2" [rowspan]="1">

            <mat-tab-group>
                <mat-tab label="Csapat lista">


                    
                </mat-tab>
            </mat-tab-group>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">

            <mat-tab-group>
                <mat-tab label="Góllövő lista">
                    
                </mat-tab>
                <mat-tab label="Sárga lap"> sárga lap </mat-tab>
                <mat-tab label="Piros lap"> piros lap </mat-tab>
            </mat-tab-group>

        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3">
        <mat-grid-tile [colspan]="3" [rowspan]="1">

            <mat-tab-group>
                <mat-tab label="Tabella"> tabella </mat-tab>
                <mat-tab label="Hazai"> tabella </mat-tab>
                <mat-tab label="Vendég"> tabella </mat-tab>
            </mat-tab-group>

        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2">
        <mat-grid-tile [colspan]="1" [rowspan]="1">

            <mat-tab-group>
                <mat-tab label="Meccs statisztikák"> Meccs statisztikák </mat-tab>
            </mat-tab-group>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">

            <mat-tab-group>
                <mat-tab label="Büntető lapok"> büntető lapok </mat-tab>
            </mat-tab-group>

        </mat-grid-tile>

    </mat-grid-list>

</div>

