<button *ngIf="isOwner()" mat-stroked-button style="margin:10px" color="secondary" (click)="showHistory()">
    <mat-icon>history</mat-icon>
    <mat-label>Előzmények megtekintése</mat-label>
</button>

<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let a of data" [value]="a">
        <div *ngIf="a.commodity" (click)="showData(a)">
            <mat-label>
                <div class="row">
                    <mat-icon color="accent">info</mat-icon>
                    <div class="col-lg-4">
                        <span>
                            {{a.commodity.name}}</span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{a.total}} {{a.commodity.unit?a.commodity.unit:''}}</span>
                    </div>
                </div>
            </mat-label>
            <hr>
        </div>
    </mat-list-option>
</mat-selection-list>