<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        Alapanyag módosítása
    </h1>
</mat-toolbar>
<form [formGroup]="commodityForm" class="create-container">
    <ng-template matStepLabel>
        <mat-label>
            Alapanyag adatok
        </mat-label>
    </ng-template>
    <div class="input-container">
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Alapanyag neve
            </mat-label>
            <input matInput name="name" formControlName="name" placeholder="Név">
            <mat-error *ngIf="commodityForm.controls.name.invalid && !commodityForm.controls.name.hasError('pattern') ">
                A mező kitöltése kötelező.
            </mat-error>
            <mat-error
                *ngIf="commodityForm.controls.name.hasError('pattern') && !commodityForm.controls.name.hasError('required') ">
                Érvénytelen karakterek.
            </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Beszerzési ár
            </mat-label>
            <input type="number" matInput name="purchasePrice" formControlName="purchasePrice"
                placeholder="Beszerzési ár">
        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Szavatossági idő napokban
            </mat-label>
            <input matInput type="number" name="warranty" formControlName="warranty" placeholder="Szavatossági idő">

        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Mértékegység
            </mat-label>
            <input matInput name="unit" formControlName="unit" placeholder="Mértékegység">

        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field class="example-full-width">
            <mat-label>Cég</mat-label>
            <input type="text" placeholder="Válasszon egy céget." matInput
                [formControl]="commodityForm.controls.company" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                <mat-option *ngFor="let option of companies" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>


        <div class="stepper-buttons-content">
            <button mat-raised-button [disabled]="commodityForm.invalid" (click)="onModify()">
                <mat-label>Mentés</mat-label>
            </button>
        </div>
    </div>
</form>