<div class="ct-digdown-stats-table">
    <div class="ct-digdown-stats-row">
        <div class="ct-digdown-stats-cell" style="width:10%;">
            <div class="ct-digdown-stats-table">
                <div class="ct-digdown-stats-header">
                    <div class="ct-digdown-stats-title"><span>{{title}}</span></div>
                    <div class="ct-digdown-stats-comment"><span>{{comment}}</span></div>
                    <div class="ct-digdown-stats-sum">{{value ? value.sum : 'N/A'}}</div>
                </div>
                <div class="ct-digdown-stats-row">
                    <div class="ct-digdown-stats-cell">
                        <div class="ct-digdown-stats-title">Lite</div>
                        <div class="ct-digdown-stats-sum"><span>{{value ? value.liteValue : 'N/A'}}</span></div>
                    </div>
                    <div class="ct-digdown-stats-cell">
                        <div class="ct-digdown-stats-title">Pro</div>
                        <div class="ct-digdown-stats-sum">{{ value ? value.proValue : 'N/A'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>