.ct-digdown-stats-table {
    text-align: center;
    background: #725639; /* ct-blue-bg */
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    cursor: default;
    /*overflow: hidden;*/ /*sliding*/
}

.ct-digdown-stats-header {
    padding-top: 10px;
    border-bottom: 1px solid #fff;
}

.ct-digdown-stats-title {
    padding-top: 10px;
    font-size: 18px;
    transition: all ease-in-out 0.2s;
}

.ct-digdown-stats-sum {
    padding-bottom: 10px;
    font-size: 48px;
}

.ct-digdown-stats-row {
    /*overflow: auto;*/ /*sliding*/
    display: table;
    width: 100%;
}

.ct-digdown-stats-row .ct-digdown-stats-cell:not(:last-child) {
    border-right: 1px solid #fff;
}

.ct-digdown-stats-cell {
    /*float: left;*/
    display: table-cell;
    transition: all ease-in-out 0.2s;
}

/* decorate the cell when hover on cell */
.ct-digdown-stats-cell:hover {
    background-color: #330f0d;
}
.ct-digdown-stats-cell:hover > .ct-digdown-stats-title {
    /*font-weight: 600;*/
    /*font-size: 20px;*/
    color: rgba(255, 255, 255, 1);
}

/* decorate the header when hover on table */
.ct-digdown-stats-table:hover > .ct-digdown-stats-header {
    background-color: #330f0d;
}

.ct-digdown-stats-table:hover > .ct-digdown-stats-header .ct-digdown-stats-title {
    /*font-weight: 600;*/
    color: rgba(255, 255, 255, 1);
}

.ct-digdown-table-header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    transition: all ease-in-out 0.2s;
}

.ct-digdown-stats-table:hover .ct-digdown-table-header {
    background-color: #330f0d;
}
