<mat-toolbar color="primary" class="mat-elevation-z8">

    <h1 style="color: white;">
        Raktárak kezelése
    </h1>
</mat-toolbar>
<h3 style="margin-left:15px">A Fióhoz rendelt üzletekhez tartozó raktárak kezeléséhez kattintson a kívánt raktárra.
</h3>
<mat-toolbar *ngIf="isOwner()" style="background-color: #f5f5f5;" class="margin-top-10">
    <div class="table-toolbar width-100">
        <button mat-raised-button (click)="onCreate()">
            <mat-icon>add</mat-icon>
            <mat-label>Új raktár hozzáadása</mat-label>
        </button>
        <span class="fill-remaining-space"></span>

    </div>
</mat-toolbar>
<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let store of storages" [value]="shoe">
        <mat-label (click)="openStorage(store)">
            <mat-icon color="accent">food_bank</mat-icon>
            {{store.store.company.name}} cég {{store.store.name}} üzlet <b>{{store.id}}.</b> azonosítójú
            raktára.
        </mat-label>
        <hr>

    </mat-list-option>
</mat-selection-list>