<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        {{storage?.id}}. számú raktár Eszköz regisztráció
    </h1>
</mat-toolbar>
<mat-vertical-stepper [linear]="true" #stepper class="create-container">
    <mat-step [stepControl]="registrationForm">
        <form [formGroup]="registrationForm" class="create-container">
            <ng-template matStepLabel>
                <mat-label>
                    Regisztrációs adatok
                </mat-label>
            </ng-template>
            <mat-form-field class="example-full-width">
                <mat-label>Eszköz</mat-label>
                <input type="text" placeholder="Válasszon egy eszközt." matInput
                    [formControl]="registrationForm.controls.commodity" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                    <mat-option *ngFor="let option of tools" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field floatLabel="auto" class="input-element">
                <mat-label>Mennyiség
                </mat-label>
                <input type="number" matInput name="quantity" formControlName="quantity" placeholder="Mennyiség">
            </mat-form-field>
            <mat-slide-toggle formControlName="in">Eltávolítás</mat-slide-toggle>

        </form>
        <div class="stepper-buttons-content">
            <button mat-raised-button
                [disabled]="registrationForm.invalid || registrationForm.controls.commodity.value.id===undefined"
                (click)="registerCommodity()">
                <mat-label>Mentés</mat-label>
            </button>
        </div>
    </mat-step>
</mat-vertical-stepper>