<h2 mat-dialog-title class="mat-display-2 text-center primary-color">{{deleteTitle}}</h2>
<mat-dialog-content class="text-center">
    <mat-label>Biztosan törölni szeretné a kiválasztott sorokat?</mat-label>
</mat-dialog-content>
<hr>
<mat-dialog-actions style="text-align: center;">
    <div class="dialog-buttons">
        <button mat-raised-button class="button-upper-case" [mat-dialog-close]="false">
            <mat-label>Nem</mat-label>
        </button>
        <button mat-raised-button class="button-upper-case" color="accent" [mat-dialog-close]="true">
            <mat-label>Igen</mat-label>
        </button>
    </div>
</mat-dialog-actions>