<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        Tranzakció végrehajtása
    </h1>
</mat-toolbar>
<form [formGroup]="transactionForm" class="create-container">
    <ng-template matStepLabel>
        <mat-label>
            Adatok
        </mat-label>
    </ng-template>
    <div class="input-container">
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Adja meg az összeget
            </mat-label>
            <input matInput type="number" name="money" formControlName="money" placeholder="Összeg">
            <mat-error *ngIf="transactionForm.controls.money.invalid">
                A mező kitöltése kötelező.
            </mat-error>

        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Megjegyzés
            </mat-label>
            <input matInput name="comment" formControlName="comment" placeholder="Megjegyzés">
            <mat-error *ngIf="transactionForm.controls.comment.invalid">
                A mező kitöltése kötelező.
            </mat-error>

        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-slide-toggle style="margin-left: 20px;" formControlName="invalue">Kivétel</mat-slide-toggle>
        <div class="stepper-buttons-content">
            <button mat-raised-button [disabled]="transactionForm.invalid" (click)="onEdit()">
                <mat-label>Mentés</mat-label>
            </button>
        </div>
    </div>
</form>