<mat-toolbar class="sidenav-breadcrumbs">
    <a mat-button routerLink="/organizations" routerLinkActive="active">
        <mat-icon class="secondary-color fs20 padding-top-1">home</mat-icon>
    </a>
    <span class="sidenav-breadcrumb-span secondary-color"
        *ngFor="let breadcrumbItem of breadcrumbItemList;last as isLast" [routerLink]="breadcrumbItem.path"
        routerLinkActive="active">
        <mat-icon class="sidenav-breaddiv">keyboard_arrow_right</mat-icon>

        <a *ngIf="!breadcrumbItem.translate" mat-button [ngClass]="{'primary-color': isLast}">
            {{breadcrumbItem.name}}
        </a>
        <a *ngIf="breadcrumbItem.translate" mat-button [ngClass]="{'primary-color': isLast}">
            {{breadcrumbItem.name | translate}}
        </a>
    </span>
</mat-toolbar>