.homeIcon {
    padding-top: 2px;
}
.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 18px Sans-Serif;
    padding: 0px;
}
.breadcrumb li {
    float: left;
    cursor: pointer;
    margin-bottom: 2px;
}
.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 5px 0 5px 30px;
    position: relative;
    display: block;
    float: left;
    font-size: 14px;
}

.breadcrumb li a::after,
.breadcrumb li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 16px solid white;
    position: absolute;
    top: 158%;
    margin-top: -41px;
    left: 100%;
}
.breadcrumb li a::after {
    z-index: 1;
}

.breadcrumb li a::before {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    top: 150%;
    margin-left: 0px;
    z-index: 1;
    border-left: 19px solid white;
}

.breadcrumb li:first-child a {
    padding: 1px;
    padding-left: 6px;
}
.breadcrumb li a {
    background: #c59a6b;
}
.breadcrumb li a:after {
    border-left-color: #c59a6b;
}

.breadcrumb li:last-child a {
    background: #894e00;
}
.breadcrumb li:last-child a:after {
    border-left-color: #894e00;
}

// .breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
// .breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
// .breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
// .breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
// .breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
// .breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
// .breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
// .breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }

.breadcrumb li:last-child a {
    background: #894e00;
    color: #894e00;
    pointer-events: none;
    cursor: default;
}

// .breadcrumb li:last-child a::after {
//   border: 0;
// }

.breadcrumb li a:hover {
    background: #894e00;
    color: #894e00;
}
.breadcrumb li a:hover:after {
    border-left-color: #894e00 !important;
}

// Angular material megoldas

.sidenav-breadcrumbs {
    padding-top: 0;
    background-color: transparent;
    height: 20px;
    font-weight: bold;
    color: #e6e8ea;

    .sidenav-breadcrumb-span {
        display: flex;
        .sidenav-breaddiv {
            align-self: center;
        }
    }

    a {
        font-size: 13.5px !important;
    }
}
