<h1>Greeting</h1>
<div [hidden]="!authenticated()">
  <p>The ID is {{greeting}}</p>
  <p>The content is {{greeting}}</p>
</div>
<div [hidden]="authenticated()">
  <p>Login to see your greeting</p>
</div>