<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        Új cég létrehozása
    </h1>
</mat-toolbar>
<mat-vertical-stepper [linear]="true" #stepper class="create-container">
    <mat-step [stepControl]="companyForm">
        <form [formGroup]="companyForm" class="create-container">
            <ng-template matStepLabel>
                <mat-label>
                    Cég adatok
                </mat-label>
            </ng-template>
            <div class="input-container">
                <mat-form-field floatLabel="auto" class="input-element">
                    <mat-label>Név
                    </mat-label>
                    <input matInput name="name" formControlName="name" placeholder="Név">
                    <mat-error
                        *ngIf="companyForm.controls.name.invalid && !companyForm.controls.name.hasError('pattern') ">
                        A mező kitöltése kötelező.
                    </mat-error>
                    <mat-error
                        *ngIf="companyForm.controls.name.hasError('pattern') && !companyForm.controls.name.hasError('required') ">
                        Kérjük valós e-mail címet használjon. </mat-error>
                </mat-form-field>
                <div class="col-lg-12"></div>
                <mat-form-field appearance="fill">
                    <mat-label>Alapítás dátuma</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="founded">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="companyForm.controls.founded.invalid && !companyForm.controls.founded.hasError('pattern')">
                        A mező kitöltése kötelező.
                    </mat-error>
                </mat-form-field>
                <div class="col-lg-12"></div>
                <mat-form-field floatLabel="auto" class="input-element">
                    <mat-label>Elhelyezkedés
                    </mat-label>
                    <input matInput name="name" formControlName="address" placeholder="Név">
                    <mat-error
                        *ngIf="companyForm.controls.address.invalid && !companyForm.controls.address.hasError('pattern') ">
                        A mező kitöltése kötelező.
                    </mat-error>
                </mat-form-field>
                <div class="stepper-buttons-content">
                    <button mat-raised-button [disabled]="companyForm.invalid" (click)="onSave()">
                        <mat-label>Mentés</mat-label>
                    </button>
                </div>
            </div>
        </form>
    </mat-step>

</mat-vertical-stepper>