<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        {{store?.name}} jelentés leadás
    </h1>
</mat-toolbar>
<form [formGroup]="reportForm" class="create-container">
    <ng-template matStepLabel>
        <mat-label>
            Adatok
        </mat-label>
    </ng-template>
    <div class="input-container">
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Bevétel
            </mat-label>
            <input matInput type="number" name="income" formControlName="income" placeholder="Bevétel">
        </mat-form-field>
        <div class="col-lg-12"></div>

        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Kiadás
            </mat-label>
            <input matInput type="number" name="expense" formControlName="expense" placeholder="Kiadás">
        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Megjegyzés
            </mat-label>
            <input matInput name="comment" formControlName="comment" placeholder="Megjegyzés">
        </mat-form-field>
        <div class="col-lg-12"></div>
        <form *ngIf="checkouts && checkouts.length>0" [formGroup]="checkoutForm" class="create-container">
            <mat-slide-toggle formControlName="value" (change)="valueChange($event)">Kassza
                módosítása (bevétel/kiadás)</mat-slide-toggle>
            <div class="col-lg-12"></div>
            <mat-form-field *ngIf="checkoutForm.controls.value.value" class="example-full-width">
                <mat-label>Kassza megadása</mat-label>
                <input type="text" placeholder="Válasszon egy kasszát." matInput
                    [formControl]="checkoutForm.controls.checkoutId" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                    <mat-option *ngFor="let option of checkouts" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="stepper-buttons-content">
                <button mat-raised-button
                    [disabled]="reportForm.invalid ||  ( checkoutForm.controls.value.value && !checkoutForm.controls.checkoutId.value.id )"
                    (click)="onCreate()">
                    <mat-label>Mentés</mat-label>
                </button>
            </div>
        </form>

    </div>
</form>