<h2 mat-dialog-title class="mat-display-2 text-center primary-color" style="text-align: center;">{{data.commodity.name}}
    alapanyag jellemzése
</h2>
<mat-dialog-content class="text-center">
    <div class="row">
        <div class="col-lg-5">
            <span>
                Név: </span>
        </div>
        <div class="col-lg-6">
            <span>{{data.commodity.name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <span>
                Beszerzési ár: </span>
        </div>
        <div class="col-lg-6">
            <span>{{data.commodity.purchasePrice}} Ft</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <span>
                Szavatosság: </span>
        </div>
        <div class="col-lg-6">
            <span>{{data.commodity.warranty}} nap</span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions style="text-align: center;">
    <div class="dialog-buttons">
        <button mat-raised-button class="button-upper-case" color="accent" [mat-dialog-close]="true">
            <mat-label>OK</mat-label>
        </button>
    </div>
</mat-dialog-actions>