.example-spacer {
    flex: 1 1 auto;
}
.content {
    text-align: center;
}
.font {
    font-family: "Courier New", monospace;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: #894e00;
    color: white;
    text-align: center;
}
.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #f3f3f3;
    z-index: 9999;
}
a {
    color: black;
    text-decoration: none;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer,
mat-drawer-content {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

mat-drawer {
    width: 250px;
    background-color: #8ca5ff;
    transition-property: width;
    &.sidenav-collapsed {
        width: 100px;
    }
    .sidenav-header {
        background-color: #c59a6b;
        height: 64px;
        display: grid;
        justify-content: center;
        align-items: center;
        span {
            font-size: 2em;
            color: #ffffff;
        }
    }
    ul {
        padding: 0;
        li {
            display: grid;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            list-style: none;
            cursor: pointer;
            margin: 10px;
            padding: 10px;
            background-color: #c59a6b;
            border-radius: 5px;
        }
    }
}

mat-drawer-content {
    transition-property: transform, margin-left, margin-right;
    &.sidenav-collapsed {
        margin-left: 100px !important;
    }
}

mat-card {
    margin: 10px;
}

@media (max-width: 600px) {
    mat-toolbar {
        flex-direction: row-reverse !important;
    }
}
