<mat-toolbar fxLayout="row" class="navbar mat-elevation-z8">
    <img style="width: 160px; height: 250%;" src="assets/logo1.png">
    <!-- <button mat-icon-button (click)="snav.toggle()"> -->
    <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button fxHide.xs>
        <mat-icon class="mr">help</mat-icon>
        <a href="#about">Bemutatkozás</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">miscellaneous_services</mat-icon>
        <a href="#szolg">Szolgáltatások</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">attach_money</mat-icon>
        <a href="#price">Áraink</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">phone</mat-icon>
        <a href="#ajanlat">Ajánlatkérés</a>
    </button>
    <span fxFlex></span>

    <button mat-button fxHide.xs>
        <mat-icon class="mr">login</mat-icon>
        Bejelentkezés
    </button>


</mat-toolbar>
<mat-drawer-container>

    <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
        [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}" style="background-color: #894e00;">
        <div class="sidenav-header">
            <span>{{collapsedNav && !mobileQuery.matches ? 'S' : 'SideNav'}}</span>
        </div>

        <ul>
            <li (click)="test()">
                <mat-icon>home</mat-icon>
            </li>
            <li (click)="doDestroy()">
                <mat-icon>exit_to_app</mat-icon>
            </li>
        </ul>

    </mat-drawer>
    <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}" class="margin-top-80">

        <mat-card>

            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>

        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>