.example-action-buttons {
    padding-bottom: 20px;
  }
  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  width: 900px;
}

mat-card {
  width: 900px;
}

mat-grid-list {
  width: 900px;
}

mat-tab-group {
  width: 900px;
}

table {
  width: 100%;
  text-align: center;
}

.result-card {
  max-width: 65px;
  justify-content: center;
  align-items: center;
}

.team-card {
  max-width: 300px;
}
  
.home-header-image {
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQdidTvjgPdvdjwtelmSx8kkV6mhHETmS18aQKb7f6vqEgIYKrf');
  background-size: cover;
}

.away-header-image {
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS-SxNZma7VEnAhz0HiRRmYvNzdTrLKwXT_8L4rGUIol6okpeES');
  background-size: cover;
}