<mat-dialog-content class="mat-typography">

<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="team-card">
                <mat-card-header>
                    <div mat-card-avatar class="home-header-image"></div>
                    <mat-card-title>Manchester United</mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="result-card">
                <mat-card-header>
                    <mat-card-title>1-1</mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="team-card">
                <mat-card-header>
                    <mat-card-title>Tottenham Hotspur</mat-card-title>
                    <div mat-card-avatar class="away-header-image"></div>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<mat-tab-group>
    <mat-tab label="A mérközés összegzése">
        <mat-expansion-panel [expanded]="true">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    1. félidő
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>

                    <mat-list role="list">
                        <mat-list-item role="listitem">2' Brownhill J (sárgalap)</mat-list-item>
                    </mat-list>

                </mat-grid-tile>
                <mat-grid-tile>

                    <mat-list role="list">
                        <mat-list-item role="listitem">(sárgalap) Son Heung-Min 35'</mat-list-item>
                        <mat-list-item role="listitem">(piroslap) Le Celso 42'</mat-list-item>
                    </mat-list>

                </mat-grid-tile>
            </mat-grid-list>

        </mat-expansion-panel>

        <mat-accordion class="example-headers-align">

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2.félidő
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>

                        <mat-list role="list">
                            <mat-list-item role="listitem">63' Livermore J. (öngól)</mat-list-item>
                            <mat-list-item role="listitem">74' Lamptey T. (gól)</mat-list-item>
                            <mat-list-item role="listitem">81' Gross P. Lallana A. (csere)</mat-list-item>
                        </mat-list>

                    </mat-grid-tile>
                    <mat-grid-tile>

                        <mat-list role="list">
                            <mat-list-item role="listitem">(gól) Robinson C. 51'</mat-list-item>
                        </mat-list>

                    </mat-grid-tile>
                </mat-grid-list>

            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="Statisztika">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="hometeam">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.hometeam}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="awayteam">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.awayteam}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

    </mat-tab>
    <mat-tab label="Összeállítások"> összeállítások </mat-tab>
    <mat-tab label="Kommentár"> kommentár </mat-tab>
    <mat-tab label="Tabella"> tabella </mat-tab>
    <mat-tab label="Góllövő lista"> góllövő lista </mat-tab>
</mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Vissza</button>
</mat-dialog-actions>