<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        Új kassza létrehozása
    </h1>
</mat-toolbar>
<form [formGroup]="checkoutForm" class="create-container">
    <ng-template matStepLabel>
        <mat-label>
            Adatok
        </mat-label>
    </ng-template>
    <div class="input-container">
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Kassza elnevezése
            </mat-label>
            <input matInput name="name" formControlName="name" placeholder="Név">
            <mat-error *ngIf="checkoutForm.controls.name.invalid && !checkoutForm.controls.name.hasError('pattern') ">
                A mező kitöltése kötelező.
            </mat-error>
            <mat-error
                *ngIf="checkoutForm.controls.name.hasError('pattern') && !checkoutForm.controls.name.hasError('required') ">
                Érvénytelen karakterek.
            </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Megjegyzés
            </mat-label>
            <input matInput name="comment" formControlName="comment" placeholder="Komment">
            <mat-error
                *ngIf="checkoutForm.controls.name.hasError('pattern') && !checkoutForm.controls.name.hasError('required') ">
                Érvénytelen karakterek.
            </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field class="example-full-width">
            <mat-label>Üzlet</mat-label>
            <input type="text" placeholder="Válasszon egy üzletet." matInput [formControl]="checkoutForm.controls.store"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                <mat-option *ngFor="let option of stores" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>


        <div class="stepper-buttons-content">
            <button mat-raised-button [disabled]="checkoutForm.invalid" (click)="onCreate()">
                <mat-label>Mentés</mat-label>
            </button>
        </div>
    </div>
</form>