<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        Új üzlet létrehozása
    </h1>
</mat-toolbar>
<mat-vertical-stepper [linear]="true" #stepper class="create-container">
    <mat-step [stepControl]="storeForm">
        <form [formGroup]="storeForm" class="create-container">
            <ng-template matStepLabel>
                <mat-label>
                    Üzlet adatok
                </mat-label>
            </ng-template>
            <div class="input-container">
                <mat-form-field floatLabel="auto" class="input-element">
                    <mat-label>Üzlet neve
                    </mat-label>
                    <input matInput name="name" formControlName="name" placeholder="Név">
                    <mat-error *ngIf="storeForm.controls.name.invalid && !storeForm.controls.name.hasError('pattern') ">
                        A mező kitöltése kötelező.
                    </mat-error>
                    <mat-error
                        *ngIf="storeForm.controls.name.hasError('pattern') && !storeForm.controls.name.hasError('required') ">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <div class="col-lg-12"></div>
                <mat-form-field appearance="fill">
                    <mat-label>Nyitás dátuma</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="opened">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="storeForm.controls.opened.invalid && !storeForm.controls.opened.hasError('pattern')">
                        A mező kitöltése kötelező.
                    </mat-error>
                </mat-form-field>
                <div class="col-lg-12"></div>
                <mat-form-field floatLabel="auto" class="input-element">
                    <mat-label>Elhelyezkedés
                    </mat-label>
                    <input matInput name="name" formControlName="location" placeholder="Elhelyezkedés">
                    <mat-error
                        *ngIf="storeForm.controls.location.invalid && !storeForm.controls.location.hasError('pattern') ">
                        A mező kitöltése kötelező.
                    </mat-error>
                </mat-form-field>
                <div class="col-lg-12"></div>
                <mat-form-field floatLabel="auto" class="input-element">
                    <mat-label>Telefonszám
                    </mat-label>
                    <input matInput name="name" formControlName="phoneNumber" placeholder="Telefonszám">
                    <mat-error *ngIf="storeForm.controls.phoneNumber.hasError('pattern') ">
                        Hibás formátum! (+36123456789)
                    </mat-error>
                </mat-form-field>
                <div class="col-lg-12"></div>
                <mat-form-field class="example-full-width">
                    <mat-label>Cég</mat-label>
                    <input type="text" placeholder="Válasszon egy céget." matInput
                        [formControl]="storeForm.controls.company" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                        <mat-option *ngFor="let option of companies" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="stepper-buttons-content">
                    <button mat-raised-button [disabled]="storeForm.invalid" (click)="onCreate()">
                        <mat-label>Mentés</mat-label>
                    </button>
                </div>
            </div>
        </form>
    </mat-step>

</mat-vertical-stepper>