<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        Felhasználó módosítása
    </h1>
</mat-toolbar>
<form [formGroup]="customerForm" class="create-container">
    <ng-template matStepLabel>
        <mat-label>
            Felhasználói adatok
        </mat-label>
    </ng-template>
    <div class="input-container">
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Titulus
            </mat-label>
            <input matInput name="title" formControlName="title" placeholder="Titulus">
            <mat-error *ngIf="customerForm.controls.title.invalid">
                A mező kitöltése kötelező.
            </mat-error>

        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Vezetéknév
            </mat-label>
            <input matInput name="firstName" formControlName="firstName" placeholder="Keresztnév">
            <mat-error *ngIf="customerForm.controls.firstName.invalid ">
                A mező kitöltése kötelező.
            </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Keresztnév
            </mat-label>
            <input matInput name="lastName" formControlName="lastName" placeholder="Keresztnév">
            <mat-error *ngIf="customerForm.controls.lastName.invalid ">
                A mező kitöltése kötelező.
            </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Telefonszám
            </mat-label>
            <input matInput name="phoneNumber" formControlName="phoneNumber" placeholder="Telefonszám">
            <mat-error *ngIf="customerForm.controls.phoneNumber.invalid ">
                A mező kitöltése kötelező.
            </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>

        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>E-mail cím
            </mat-label>
            <input matInput name="email" formControlName="email" placeholder="E-mail">
            <mat-error *ngIf="customerForm.controls.email.hasError('required') ">
                A mező kitöltése kötelező.
            </mat-error>
            <mat-error
                *ngIf="customerForm.controls.email.hasError('pattern') && !customerForm.controls.email.hasError('required') ">
                Kérjük valós e-mail címet használjon. </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>
        <!-- <mat-form-field floatLabel="auto" class="input-element">
            <mat-label>Új jelszó beállítása (opcionális)
            </mat-label>
            <input matInput name="password" type="password" formControlName="password" placeholder="Jelszó">
            <mat-error *ngIf="customerForm.controls.password.invalid ">
                A mező kitöltése kötelező.
            </mat-error>
        </mat-form-field> -->

        <div class="stepper-buttons-content">
            <button mat-raised-button [disabled]="customerForm.invalid || customerForm.invalid" (click)="onEdit()">
                <mat-label>Mentés</mat-label>
            </button>
        </div>
    </div>
</form>