<div id="about" style="z-index: 1">
    <mat-card style="background-color: #c59f77; margin:30px; opacity: 0.95;" class="font mat-elevation-z8">
        <h1>Bemutatkozás</h1>
        <img style="width: 400px;" src="assets/logoBig.png">
        <h3>A DinerBoss megkönnyíti a vállalkozók mindennapjait.</h3>
        <h4>A termék 2020 óta látja el különböző étteremláncok, franchise-ok, és kisvállalkozások igényeit.<br>
            Irányíthatja cége mindennapjait, kezelheti, bővítheti hálózatát.</h4>
        <h4>A részletes kimutatásokból átfogó képet
            kaphat
            a céghez tartozó üzletekről, alkalmazottakról, illetve termékeiről. </h4>
        <h3>Menedzselje ÖN is üzletét gyorsan, egyszerűen, hatékonyan!</h3>
        <img class="content" style="width: 400px;" src="assets/francise.png">

    </mat-card>
    <router-outlet></router-outlet>
</div>