<div class="dn-digdown-stats-table margin-top-20">
    <div class="dn-digdown-stats-row">
        <div class="dn-digdown-stats-cell" style="width:10%;">
            <div class="dn-digdown-stats-table">
                <div class="dn-digdown-stats-header">

                    <div class="dn-digdown-stats-sum">Céges adatok</div>
                </div>
                <div class="dn-digdown-stats-row">
                    <div class="dn-digdown-stats-cell">
                        <div class="dn-digdown-stats-title">Cégek száma</div>
                        <div class="dn-digdown-stats-sum"><span>{{companies}}</span></div>
                    </div>
                    <div class="dn-digdown-stats-cell">
                        <div class="dn-digdown-stats-title">Üzletek száma</div>
                        <div class="dn-digdown-stats-sum">{{stores}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dn-digdown-stats-table margin-top-20">
    <div class="dn-digdown-stats-row">
        <div class="dn-digdown-stats-cell" style="width:10%;">
            <div class="dn-digdown-stats-table">
                <div class="dn-digdown-stats-header">

                    <div class="dn-digdown-stats-sum">Üzleti adatok</div>
                </div>
                <div class="dn-digdown-stats-row">
                    <div class="dn-digdown-stats-cell">
                        <div class="dn-digdown-stats-title">Alkalmazottak száma</div>
                        <div class="dn-digdown-stats-sum"><span>{{customers}}</span></div>
                    </div>
                    <div class="dn-digdown-stats-cell">
                        <div class="dn-digdown-stats-title">Raktárak száma</div>
                        <div class="dn-digdown-stats-sum">{{storages}}</div>
                    </div>
                    <div class="dn-digdown-stats-cell">
                        <div class="dn-digdown-stats-title">Hónap alkalmazottja</div>
                        <div class="dn-digdown-stats-title"><b> Balázsfalvi Gergő </b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-card class="margin-top-20">
    <mat-card-header>
        <mat-card-title>
            Üzletek napi forgalma
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="width-100">
        <div class="row">
            <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="storeIncomeData"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" (select)="onSelect($event)"
                (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" [legendPosition]="'below'"
                [barPadding]="2" [groupPadding]="4">
            </ngx-charts-bar-vertical-2d>

        </div>

    </mat-card-content>

</mat-card>

<mat-card class="margin-top-20">
    <mat-card-header>
        <mat-card-title>
            Kiválasztott üzlet bevétele / kiadása
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="width-100">
        <form [formGroup]="statForm" class="create-container">
            <mat-form-field class="example-full-width">
                <mat-label>Üzlet</mat-label>
                <input type="text" placeholder="Válasszon egy üzletet." matInput [formControl]="statForm.controls.store"
                    [matAutocomplete]="auto" (change)="changeFunction()">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                    <mat-option *ngFor="let option of storelist" [value]="option"
                        (onSelectionChange)="changeFunction()">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <div class="row">
            <div class="row">
                <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi"
                    (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
                </ngx-charts-line-chart>
            </div>

        </div>

    </mat-card-content>

</mat-card>