.example-spacer {
    flex: 1 1 auto;
}
.content {
    text-align: center;
}
.font {
    font-family: "Courier New", monospace;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: #894e00;
    color: white;
    text-align: center;
}
.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #a1927d;
    z-index: 9999;
}
a {
    color: black;
    text-decoration: none;
}
