<mat-toolbar fxLayout="row" class="navbar">
    <img style="width: 160px; height: 250%;" src="assets/logo1.png">


    <button mat-button fxHide.xs>
        <mat-icon class="mr">help</mat-icon>
        <a href="#about">Bemutatkozás</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">miscellaneous_services</mat-icon>
        <a href="#szolg">Szolgáltatások</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">attach_money</mat-icon>
        <a href="#price">Áraink</a>
    </button>
    <button mat-button fxHide.xs>
        <mat-icon class="mr">phone</mat-icon>
        <a href="#ajanlat">Ajánlatkérés</a>
    </button>
    <span fxFlex></span>
    <button mat-button fxHide.xs (click)="loginSuperadmin()">
        <mat-icon class="mr">login</mat-icon>
        Karbantartói bejelentkezés
    </button>
    <button mat-button fxHide.xs (click)="loginAdmin()">
        <mat-icon class="mr">login</mat-icon>
        Bejelentkezés
    </button>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <button mat-menu-item>
            <mat-icon class="mr">help</mat-icon>
            <a href="#about">Bemutatkozás</a>
        </button>
        <button mat-menu-item>
            <mat-icon class="mr">miscellaneous_services</mat-icon>
            <a href="#szolg">Szolgáltatások</a>

        </button>
        <button mat-menu-item>
            <mat-icon class="mr">attach_money</mat-icon>
            <a href="#price">Áraink</a>

        </button>
        <button mat-menu-item>
            <mat-icon class="mr">phone</mat-icon>
            <a href="#ajanlat">Ajánlatkérés</a>

        </button>
        <button mat-menu-item>
            <mat-icon class="mr">login</mat-icon>
            Bejelentkezés
        </button>
        <mat-divider></mat-divider>
    </mat-menu>
</mat-toolbar>
<div class="font">
    <hr style="background-color: #cfcfcf; margin-top: 50px;">
    <div class="page-content font">
        <app-about-us class="content"></app-about-us>
        <app-szolgaltatasok></app-szolgaltatasok>
        <app-prices></app-prices>
    </div>
</div>
<div class="footer">
    <mat-label> DinerBoss 2020
    </mat-label>
    <small>
        <small>
            <small>
                <mat-icon>copyright</mat-icon>
            </small>
        </small>
    </small>

</div>