<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        {{storage?.id}}. számú raktár kezelése
    </h1>
</mat-toolbar>
<div class="row">
    <mat-card class="info-mat-card col-lg-7 mat-elevation-z8" style="margin-top: 20px;">
        <mat-card-title class="primary-color">Raktár adatok</mat-card-title>
        <mat-card-content *ngIf="storage" class="width-100">
            <div class="row card-row">
                <div class="col-lg-6">
                    <span class="details-info-name base-color">
                        Raktár azonosító</span>
                </div>
                <div class="col-lg-6">
                    <span>{{storage?.id}}</span>
                </div>
            </div>
            <div class="row card-row">
                <div class="col-lg-6">
                    <span class="details-info-name base-color">
                        Cég neve</span>
                </div>
                <div class="col-lg-6">
                    <span>{{storage?.store.company.name}}</span>

                </div>
            </div>
            <div class="row card-row">
                <div class="col-lg-6">
                    <span class="details-info-name base-color">
                        Üzlet neve</span>
                </div>
                <div class="col-lg-6">
                    <span>{{storage?.store.name}}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="info-mat-card col-lg-4 margin-left-40 mat-elevation-z8" style="margin-top: 20px;">
        <mat-card-title class="primary-color">Műveletek</mat-card-title>
        <mat-card-content class="width-100">
            <div class="row">
                <div class="col-lg-3"></div>
                <button mat-raised-button color="accent" class="col-lg-6" (click)="registerCommodities()">
                    <mat-icon style="color: white;">app_registration</mat-icon>
                    <mat-label style="color: white;">Alapanyag regisztráció</mat-label>
                </button>
                <div class="col-lg-12"></div>
                <div class="col-lg-3"></div>

                <button mat-raised-button color="accent" class="col-lg-6" style="margin-top: 10px;"
                    (click)="registerTools()">
                    <mat-icon style="color: white;">app_registration</mat-icon>
                    <mat-label style="color: white;">Eszköz regisztráció</mat-label>
                </button>
                <div class="col-lg-12"></div>
                <div class="col-lg-3"></div>
                <button *ngIf="isOwner()" mat-raised-button color="warn" class="col-lg-6" style="margin-top: 10px;">
                    <mat-icon>delete</mat-icon>
                    <mat-label>Raktár törlése</mat-label>
                </button>

            </div>
            <br>
        </mat-card-content>
    </mat-card>
</div>
<mat-tab-group>
    <mat-tab label="Elérhető alapanyagok ">
        <app-list-commodities [storage]="storage"></app-list-commodities>
    </mat-tab>
    <mat-tab label="Elérhető eszközök">
        <app-list-tools [storage]="storage"></app-list-tools>
    </mat-tab>
</mat-tab-group>