<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text-left fleft">
        <button mat-icon-button (click)="navigateToParent()">
            <mat-icon color="accent">arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 style="color: white;">
        Új raktár hozzárendelése
    </h1>
</mat-toolbar>
<form [formGroup]="storageForm" class="create-container">
    <ng-template matStepLabel>
        <mat-label>
            Alapanyag adatok
        </mat-label>
    </ng-template>
    <div class="input-container">

        <div class="col-lg-12"></div>
        <mat-form-field class="example-full-width">
            <mat-label>Üzlet</mat-label>
            <input type="text" placeholder="Válasszon egy üzletet." matInput [formControl]="storageForm.controls.store"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                <mat-option *ngFor="let option of stores" [value]="option">
                    {{option.name}} ({{option.company.name}} cég)
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>


        <div class="stepper-buttons-content">
            <button mat-raised-button [disabled]="storageForm.controls.store.value.name === undefined"
                (click)="onCreate()">
                <mat-label>Mentés</mat-label>
            </button>
        </div>
    </div>
</form>