<mat-tab-group class="mat-elevation-z2">
    <mat-tab label="Cégek">
        <app-superadmin-companies></app-superadmin-companies>
    </mat-tab>
    <mat-tab label="Üzletek">
        <app-superadmin-stores></app-superadmin-stores>
    </mat-tab>
    <mat-tab label="Ügyfelek">
        <app-superadmin-customers></app-superadmin-customers>
    </mat-tab>
</mat-tab-group>