<mat-card id="szolg" style="background-color: #c59f77; margin:30px; opacity: 0.95" class="font">
    <div class="content">

        <h1>Szolgáltatások</h1>
    </div>
    <h2>
        <mat-icon>business</mat-icon>
        Vendéglátóiparban tevékenykedő cégek, vállalatok számára ideális szolgáltatásokat nyújtunk.
    </h2>
    <div style="text-align: left;"></div>

    <h3>Termékek kezelése:
    </h3>
    Nyílvántarthatja, módosíthatja termékeit. Ezáltal átfogó képet kaphat az egyes raktárakban található
    termékekről, árakról, vagy akár a fogyasztás gyakoriságáról.
    <h3>Alkalmazottak kezelése:
    </h3>
    Üzletenként kezelheti alkalmazottait. Tárolhatja adataikat, nyomon követheti üzleti tevékenységüket.
    <h3>Üzletmenedzsment:
    </h3>
    Lehetősége van céghálózatának bővítésére, az hálózatában található üzletek kezelésére.
    <h3>Alkalmazotti ügyintézés:
    </h3>
    A szoftver nem csak a cégvezető, de az alkalmazotti ügyintézést is megkönnyíti. Napi zárás leadás, raktár módosítási
    és más egyéb lehetőséget is nyújtunk az Ön által felvett alkalmazottak számára
    <h3>Statisztika:
    </h3>
    A szoftver leghasznosabb funkciójával, a statisztika böngészésével rengeteg következtetést vonhat le cégéről, vagy
    üzleteiről. Megtudhatja hogyan teljesítenek az alkalmazottak, miként alakul a bevétel, kiadás, napokra lebontva.
</mat-card>