<mat-toolbar fxLayout="row" class="navbar mat-elevation-z8">
    <img style="width: 160px; height: 250%;" src="assets/logo1.png">
    <!-- <button mat-icon-button (click)="snav.toggle()"> -->
    <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
    </button>


    <span fxFlex></span>

    <button mat-button fxHide.xs>
        <mat-icon class="mr">login</mat-icon>
        Bejelentkezés
    </button>


</mat-toolbar>
<mat-drawer-container>

    <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
        [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}" style="background-color: #894e00;">
        <div class="sidenav-header">
            <span>{{collapsedNav && !mobileQuery.matches ? 'S' : 'SideNav'}}</span>
        </div>

        <ul>
            <li (click)="test()">
                <mat-icon matTooltip="Kezelőfelület" [matTooltipPosition]="'right'">home</mat-icon>
            </li>
            <li (click)="doDestroy()">
                <div class="row">
                    <mat-icon matTooltip="Kijelentkezés" [matTooltipPosition]="'right'">exit_to_app</mat-icon>
                </div>

            </li>
        </ul>

    </mat-drawer>
    <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}" class="margin-top-80">

        <mat-card>

            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>

        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>