<div *ngIf="breadcrumbItemList">
  <app-breadcrumb [breadcrumbItemList]="breadcrumbItemList"></app-breadcrumb>
</div>
<div class="page-content-transparent" [ngClass]="{'page-content-transparent': transparentContainer,
'page-content mat-elevation-z8': !transparentContainer}">
  <mat-toolbar color="primary" [ngClass]="{'mat-elevation-z8': transparentContainer}">
    <div *ngIf="allowNavigateBack" class="text-left fleft">
      <button mat-icon-button (click)="navigateToParent()">
        <mat-icon color="primary-foreground">arrow_back_ios</mat-icon>
      </button>
    </div>
    <h1>
      <ng-content select="ct-page-header-title"></ng-content>
    </h1>
  </mat-toolbar>

  <div class="container margin-top-10">
    <ng-content select="ct-page-content"></ng-content>
  </div>
</div>
<div class="padding-left-15 padding-right-15 margin-bottom-10">
  <ng-content select="ct-page-footer"></ng-content>
</div>
