<div class="example-container">
    <h4>Elérhető felhasználók</h4>
    <mat-form-field floatLabel="auto" class="width-95">
        <mat-icon matSuffix color="primary">search</mat-icon>
        <input matInput name="availableItemsFilter" [formControl]="availableItemsFilter" placeholder="Keresés">
    </mat-form-field>
    <div cdkDropList #availableItemsList="cdkDropList" [cdkDropListData]="availableItems"
        [cdkDropListConnectedTo]="[selectedItemsList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of availableItems" cdkDrag>{{item.email}}</div>
    </div>
</div>
<div class="control-buttons">
    <button class="block-button" (click)="selectAll()" mat-button mat-raised-button color="secondary"
        [disabled]="availableItems.length === 0" matTooltip="Összes hozzárendelése" matTooltipPosition="above">
        <mat-label>&gt;&gt;</mat-label>
    </button>
    <button (click)="selectNone()" mat-button mat-raised-button color="secondary"
        [disabled]="selectedItems && selectedItems.length === 0" matTooltip="Összes visszavonása"
        matTooltipPosition="below">
        <mat-label>&lt;&lt;</mat-label>
    </button>
</div>
<div class="example-container">
    <h4 [ngClass]="{'invalid-text': required && selectedItems && selectedItems.length===0}">
        Kiválasztott felhasználók
    </h4>
    <mat-form-field floatLabel="auto" class="width-95">
        <mat-icon matSuffix color="primary">search</mat-icon>
        <input matInput name="selectedItemsFilter" [formControl]="selectedItemsFilter" placeholder="Keresés">
    </mat-form-field>
    <div cdkDropList #selectedItemsList="cdkDropList" [cdkDropListData]="selectedItems"
        [cdkDropListConnectedTo]="[availableItemsList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of selectedItems" cdkDrag>{{item.email}}</div>
    </div>
    <mat-error *ngIf="required && selectedItems && selectedItems.length===0">
        Is required
    </mat-error>
</div>